// Sponsors.module.scss
.sponsorsRoot {
    .sponsorsContainer {
        .sponsorsList {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .sponserImage {
                width: 125px;
                height: 125px;
                margin: 10px;
                object-fit: contain;

                &.google {
                }
                &.jetbrains {
                    width: 180px;
                    height: 180px;
                }
                &.cloudcasa {
                    width: 250px;
                }
            }
        }
    }
}
